
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
	body {
		margin: 0;
		padding: 0;
		color: #000;
		background: #f2f2f2;
		text-align: left;
		min-height: 100%;
		font-family: 'PT Sans', sans-serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		text-transform: uppercase;
	}
	a, a:visited { /* порядок правил для ссылок имеет значение */
		text-decoration: none;
		color: #000;
	}
		a:hover {
			color: #81b3d2;
		}
		a:focus,
		a:active {
			color: #000;
			opacity: 0.3;
		}
	.active{
		color: #766357;
	}
		.active:hover{
			color: #604e43;
		}
		.active:focus,
		.active:active{
			color: #766357;
			opacity: 0.3;
		}
	img {
		max-width: 100%;
		display: block;
	}
	.centerfix{
		max-width: 1200px;
		margin: 0 auto;
		background: #fff;
	}
	/* --------------- index ---------*/
	.main-header{
		position: relative;
	}
			.header-top .logo{
				position: absolute;
				top:0;
				left:44.17%;
			}
			.main-menu ul{
				margin: 0;
				padding: 15px 4.17%;
				list-style: none;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
			}
				.main-menu li{
					margin: 0;
					padding: 0;
				}
					.main-menu ul li a{
						padding: 10px 20px 20px;
						font-weight: bold;
					}
			.header-bottom-text{
				position: absolute;
				top:22%;
				left:30.8%;
			}
	.slogan{
		text-align: center;
		padding: 60px 0;
		line-height: 26px;
	}
		.slogan h2{
			font-size: 21px;
			font-weight: bold;
		}
	.features{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
		.feature-item{
		 width: 33.33%;
		 text-align: center;
		 padding: 42px;
		 box-sizing: border-box;
		}
			.promo{
				background-color: #81b3d2;
				color: #fff;
			}
				.promo h2{
					font-size: 21px;
					font-weight: bold;
				}
			.utility{

			}


		.map-adaptive{/* метод для размещения любого контента адаптивною Св-ва для родителя*/
			position: relative;
			padding-bottom: 34.5%; /*высота/ширина*100%*/
			height: 0;
			overflow: hidden;
		}
			.map-adaptive iframe{ /*Св-ва для встариваемого контента*/
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
			.contact-form{
				position: absolute;
				width: 70%;
				background-color: #fff;
				top:3%;
				left:13.8%;
			}
	.main-footer{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

/* --------------- shop ---------*/
.selection{
	background-image: url(../img/hotels-bg.jpg);
	background-repeat: no-repeat;
}
	.selection form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	color: #fff;
}
.sort{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
	.sort a.arrow {
	    display: inline-block;
	    margin: 0 10px;
	    font-size:0;
	}
		.arrow::before {
		    content: "";
		    border: 20px solid #0074d9;
		    border-right-width: 10px;
		    border-left-width: 10px;
		    border-right-color: transparent;
		    border-left-color: transparent;
		    display:inline-block;
		}
		.arrow-up::before {border-top-width:0;
		}
		.arrow-down::before {border-bottom-width:0;
		}
.catalog{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
	.item{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}
		.item-description{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			-webkit-box-flex: 2;
			    -ms-flex-positive: 2;
			        flex-grow: 2;
		}
